<header class="nav-container" role="banner">
  <div class="hero" aria-label="Site header">
    <a href="{{ '/' | relative_url }}" class="ascii-header" aria-label="Home">
  <pre>.+"+.+"+.+"+.+"+.+"+.+"+.+"+.+"+.+"+. 
(           _ _   _ _   _     _       )
 )         | | | | | \ | |   | |     ( 
(       _  | | | | |  \| |_  | |      )
 )     | |_| | |_| | |\  | |_| |     ( 
(       \___/ \___/|_| \_|\___/       )
 )                                   ( 
(                                     )
 "+.+"+.+"+.+"+.+"+.+"+.+"+.+"+.+"+.+" </pre>
    </a>
    <div class="site-slogan" role="note" aria-label="Site slogan">
      <div>[radical resources for people who are more than datasets]</div>
      <div>[radical resources for you] [<span class="slogan-em"></span>resist being reduced</span>]</div>
    </div>
    <div class="ascii-divider">~"~._.~"~._.~"~._.~"~._.~"~._.~"~</div>
  </div>
</header>
